# Root-level ignores
*.log
logs/
DEPLOYMENT.md


# Backend
backend/node_modules/
backend/.env
backend/.env.*
backend/.env.example

# Frontend (client-side)
client-side/node_modules/
client-side/.env
client-side/.vite/
client-side/dist/
